html {
    height: 100%;
}

body {
    background-color: gray;
}

#chess-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-square {
    background-color: #faf5de;
}

.dark-square {
    background-color: #e1dbb5;
}

.piece {
    width: 70px;
    height: 70px
}