html {
    height: 100%;
}

body {
    background-color: gray;
}

#chess-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

